body {
    font-family: "Inter", sans-serif;
    color: #F9F9F9;
    background-color: #F9F9F9;
    font-weight: 200;
    margin: 0;
    padding: 0;
    overflow-x: hidden;
    box-sizing: border-box;
}

@font-face {
    font-family: LightRock;
    src: url(/assets/f_lightrock.otf);
    font-display: block;
}

/* Light Rock is free for personal use.  While I intend to
use this site commercially, for now, it's simply a school
project.  I've also already purchased a commercial multi-use
license for this font, and can provide evidence if needed. */

.hero {
    background-image: url(/assets/p_hero.jpg);
    background-size: cover;
    background-attachment: fixed;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 70px;
    height: 80vh;
}

.hero-top {
    width: 100%;
    display: flex;
    justify-content: flex-start;
    align-items: center;
}

@media (max-width:640px) {
    .hero {
        padding: 52.5px;
    }
}

.header {
    padding: 70px;
    height: 60px;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    margin: 0 auto;
}

.header-right {
    width: 100%;
    display: flex;
    justify-content: flex-end;
}

.header-right img:hover {
    opacity: 70%;
    transition: all 0.4s ease;
}

.b-menu {
    background: none;
    border: none;
    font-size: 24px;
}

.b-menu:hover {
    opacity: 70%;
    transition: all 0.4s ease;
}

.herologo {
    max-width: 100%;
    display: flex;
    justify-content: center;
    color: #F9F9F9;
}

.hero-bot {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: baseline;
}

.about-break {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    width: 100%;
    height: 30vh;
    background-color: #F9F9F9;
    color: #121212;
    text-align: left;
}

.about-text {
    padding: 70px;
}

.about-text h2 {
    font-weight: 300
}

.support-break {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-end;
    width: 100%;
    height: 30vh;
    background-color: #F9F9F9;
    color: #121212;
    text-align: right;
}

@media (max-width: 640px) {
    .support-break {
        text-align: center;
    }

    br {
        display: none;
    }

    .about-break {
        text-align: center;
    }

    br {
        display: none;
    }

}

.support-text {
    padding: 70px;
}

.support-text h2 {
    font-weight: 300
}

/* was having trouble adding padding to
the about us section, i put the content
into another div and it resolved my issue.
probably not proper though... sorry.. */

.gallery {
    position: relative;
    height: 70vh;
    overflow: hidden;
}

.gallery::after {
    content: "";
    position: absolute;
    inset: 0;
    background: rgba(0, 0, 0, 0.25);
    z-index: 1;
}

.gallery-text {
    position: relative;
    z-index: 2;
    color: #F9F9F9;
    text-align: center;
    top: 40%;
}

.gallery-text h1 {
    line-height: 0.1;
    font-family: LightRock;
    font-weight: 100;
    font-size: 80px;
    transition: all 0.3s ease;
    margin-bottom: 40px;
}

.event-verh1 h1 {
    margin-bottom: 20px;
}

.gallery-text a {
    text-decoration: none;
    color: #F9F9F9;
    transition: all 0.3s ease;
}

.gallery-text {
    transition: all 0.3s ease;
}

.gallery-text:hover {
    transform: scale(0.97);
}

/* SLIDER ANIMATION START */

.slideL {
    position: absolute;
    inset: 0;
    background-size: cover;
    background-position: center;
    opacity: 0;
    animation: slideL 16s;
    animation-iteration-count: infinite;
    animation-timing-function: linear;
}

.slideR {
    position: absolute;
    inset: 0;
    background-size: cover;
    background-position: center;
    opacity: 0;
    animation: slideR 16s;
    animation-iteration-count: infinite;
    animation-timing-function: linear;
}

.event1 {
    background-image: url(/gallery/mk-1.jpg);
    animation-delay: 0s;
    animation-fill-mode: forwards;
}

.event2 {
    background-image: url(/gallery/mk-6.jpg);
    animation-delay: 4s;
    animation-fill-mode: forwards;
}

.event3 {
    background-image: url(/gallery/mk-2.jpg);
    animation-delay: 8s;
    animation-fill-mode: forwards;
    background-position: center 70%;
}

.event4 {
    background-image: url(/gallery/mk-4.jpg);
    animation-delay: 12s;
    animation-fill-mode: forwards;
    background-position: center 10%;
}

/* Above is events, below is bouquets */

.bouq1 {
    background-image: url(/gallery/b-1.JPG);
    animation-delay: 0s;
    animation-fill-mode: forwards;
    background-position: center 20%;
}

.bouq2 {
    background-image: url(/gallery/s-1.JPG);
    animation-delay: 4s;
    animation-fill-mode: forwards;
    background-position: center 10%;
}

.bouq3 {
    background-image: url(/gallery/b-3.JPG);
    animation-delay: 8s;
    animation-fill-mode: forwards;
}

.bouq4 {
    background-image: url(/gallery/s-6.JPG);
    animation-delay: 12s;
    animation-fill-mode: forwards;
    background-position: center 30%;
}

/* note for upcoming code, i believe that
the accuracy of the 2nd keyframe is causing 
lag on certain clients. my safari can't 
load the showcase without stuttering. */

@keyframes slideL {
    0% {
        opacity: 1;
        transform: translateX(0) scale(1.1);
    }

    24.999999% {
        opacity: 1;
        transform: translateX(-20px) scale(1.1);
    }

    25% {
        opacity: 0;
        transform: translateX(-20px) scale(1.1);
    }

    100% {
        opacity: 0;
        transform: translateX(-20px) scale(1.1);
    }
}

@keyframes slideR {
    0% {
        opacity: 1;
        transform: translateX(0) scale(1.1);
    }

    24.999999% {
        opacity: 1;
        transform: translateX(20px) scale(1.1);
    }

    25% {
        opacity: 0;
        transform: translateX(20px) scale(1.1);
    }

    100% {
        opacity: 0;
        transform: translateX(20px) scale(1.1);
    }
}

/* SLIDER ANIMATION END */

.shop {
    width: 80%;
    display: grid;
    grid-template-columns: repeat(3, 220px);
    justify-content: center;
    gap: 2rem 4rem;
    color: #121212;
    margin: 0 auto;
    padding: 2rem 0;
    margin-bottom: 60px;
}

.card {
    transition: all 0.3s ease;
}

.card:hover {
    transform: scale(1.03);
}

.card img {
    width: 100%;
    height: auto;
    display: block;
}

.card-text {
    display: flex;
    justify-content: space-between;
    font-size: small;
}

/* Below is the wedding / event form styling */

.formcontent {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    gap: 5rem;
    padding: 40px;
    max-width: 900px;
    margin: 0 auto;
    width: 100%;
    box-sizing: border-box;
}

.formleft {
    color: #121212;
    width: 50%;
    display: flex;
    flex-direction: column;
}

.formleft h1 {
    font-size: 50px;
    font-weight: 100;
    font-family: LightRock;
    margin-top: 0;
    margin-bottom: 0px;
}

.formright {
    width: 80%;
    display: flex;
    flex-direction: column;
    flex: 1;
    margin-bottom: 30px;
}

.contact-container {
    display: flex;
    justify-content: space-between;
    gap: 5rem;
    padding: 40px;
    max-width: 900px;
    margin: 0 auto;
    width: 100%;
    box-sizing: border-box;
}

.contact-right {
    width: 80%;
    display: flex;
    flex-direction: column;
    flex: 1;
    margin-bottom: 30px;
}

.contact-left {
    color: #121212;
    width: 50%;
    display: flex;
    flex-direction: column;
}

.contact-left h1 {
    font-size: 50px;
    font-weight: 100;
    font-family: LightRock;
    margin-top: 0;
    margin-bottom: 0px;
}

.contact-container button {
    position: relative;
    cursor: pointer;
    background-color: #F9F9F9;
    border: none;
    color: #493780;
    padding: 10px 0;
    font-size: 14px;
    text-align: left;
    transition: all 0.3s ease;
}

.contact-container button::after {
    content: '';
    position: absolute;
    bottom: 0;
    left: 0;
    width: 17.5%;
    height: 1px;
    background-color: #493780;
}

.contact-container button:hover {
    opacity: 70%;
}

form {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    max-width: 300px;
}

input {
    padding: 10px 0;
    background-color: #F9F9F9;
    color: #121212;
    border: none;
    border-bottom: 1px solid #121212;
    font-size: 14px;
    font-weight: 200;
    box-sizing: border-box;
}

textarea {
    padding: 20px;
    background-color: #F9F9F9;
    font-family: Inter;
    box-sizing: border-box;
    border: 1px solid #121212;
    height: 150px;
    font-size: 14px;
    font-weight: 200;
    resize: none;
}

select {
    padding: 10px;
    border: 2px solid black;
    font-size: 16px;
}

.formcontent button {
    position: relative;
    cursor: pointer;
    background-color: #F9F9F9;
    border: none;
    color: #493780;
    padding: 10px 0;
    font-size: 14px;
    text-align: left;
    transition: all 0.3s ease;
}

.formcontent button::after {
    content: '';
    position: absolute;
    bottom: 0;
    left: 0;
    width: 17.5%;
    height: 1px;
    background-color: #493780;
}

.formcontent button:hover {
    opacity: 70%;
}

@media (max-width: 1024px) {
    .formcontent {
        flex-direction: column;
        align-items: center;
        justify-content: space-around;
        gap: 2rem;
        padding: 0px;
        margin-bottom: 60px;
        text-align: center;
    }

    .contact-container {
        flex-direction: column;
        align-items: center;
        justify-content: space-around;
        gap: 2rem;
        padding: 0px;
        margin-bottom: 60px;
        text-align: center;
    }

    .contact-right {
        display: flex;
        flex-direction: column;
        align-items: center;
    }


    .formright {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    form {
        width: 100%;
    }
}

@media (max-width: 640px) {
    .formright {
        width: 70%;
    }

    .formleft {
        width: 70%;
    }

    .formleft h1 {
        font-size: 50px;
    }

    .contact-right {
        width: 70%;
    }

    .contact-left {
        width: 70%;
    }

    .contact-left h1 {
        font-size: 50px;
    }
}

/* I quite honestly don't know if this is doing
anything, but the page doesn't look that bad, so
I'm happy :-) */


label {
    display: block;
    margin-bottom: 10px;
    font-size: 16px;
}

#weddingMessage {
    margin-top: 12px;
    color: #493780;
    font-weight: 300;
}

#eventMessage {
    margin-top: 12px;
    color: #493780;
    font-weight: 300;
}

#contactMessage {
    margin-top: 12px;
    color: #493780;
    font-weight: 300;
}


@media (max-width: 1024px) {
    .shop {
        grid-template-columns: repeat(2, 200px);
    }
}

@media (max-width: 640px) {
    .shop {
        grid-template-columns: repeat(2, 120px);
        gap: 2rem 2rem;
    }

    .header {
        padding: 52.5px;
        height: 45px;
    }

    .header .logo {
        width: 120px;
    }

    .header-right img {
        height: 37.5px;
    }

    .b-menu img {
        height: 37.5px;
    }
}

/* this was my first time using @media,
there's a few things lumped together here,
that's because thought i could only use 
@media once... sorry... */

.product-container {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    color: #121212;
    padding: 70px auto;
    max-width: 1000px;
    margin: 0 auto;
    width: 100%;
    box-sizing: border-box;
    margin-bottom: 120px;
}

.product-left img {
    height: 400px;
    max-width: 400px;
}

.product-left {
    height: 400px;
    max-width: 400px;
}

.product-right {
    height: 400px;
    max-width: 400px;
}

.product-right h1 {
    font-family: LightRock;
    font-size: 80px;
    font-weight: 100;
    margin-bottom: 0px;
    margin-top: 0px;
}

.product-right h2 {
    font-weight: 300;
    margin-bottom: -10px;
}

.product-right a {
    text-decoration: none;
    color: #121212;
}

.i-soldout {
    margin-top: auto;
    pointer-events: none;
}

@media (max-width: 1024px) {
    .product-container {
        flex-direction: column;
        align-items: center;
        gap: 1rem;
        margin-bottom: 70px;
    }

    .product-right {
        max-width: 400px;
    }
}

@media (max-width: 640px) {
    .product-container {
        margin-bottom: 0px;
    }

    .product-left img {
        max-width: 250px;
        height: 250px;
    }

    .product-left {
        max-width: 250px;
        height: 250px;
    }

    .product-right {
        max-width: 250px;
    }

    .product-right h1 {
        font-size: 50px;
        margin-bottom: -10px;
    }
}

/* Product page end // Cart page start */

.cart-content {
    color: #121212;
    height: 55vh;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    align-items: center;
    box-sizing: border-box;
    margin-bottom: 120px;
}

.cart-content h1 {
    font-family: LightRock;
    font-size: 60px;
    font-weight: 100;
    margin-bottom: 0px;
    margin-top: 0px;
}

.cart-content a {
    text-decoration: none;
    color: #121212;
}

@media (max-width: 1024px) {
    .cart-content {
        height: 60vh;
    }

    .cart-content h1 {
        font-size: 40px;
    }
}

@media (max-width: 640px) {
    .cart-content h1 {
        font-size: 30px;
    }
}

#particles-js {
    position: fixed;
    width: 100%;
    height: 200%;
    z-index: -1;
}

.about-container {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    color: #121212;
    padding: 70px auto;
    max-width: 1000px;
    margin: 0 auto;
    width: 100%;
    box-sizing: border-box;
    margin-bottom: 120px;
    z-index: 3;
}

.about-left {
    height: 400px;
    max-width: 400px;
    padding: 16px;
    background-color: #F9F9F9;

}

.about-left h1 {
    font-family: LightRock;
    font-size: 60px;
    font-weight: 100;
    margin-bottom: 20px;
}

.about-right {
    margin-top: 40px;
    max-width: 400px;
}

.about-right video {
    max-width: 400px;
}

@media (max-width: 1024px) {
    .about-container {
        flex-direction: column;
        align-items: center;
    }
}

@media (max-width: 640px) {
    .about-container h1 {
        font-size: 50px;
    }

    .about-right video {
        max-width: 250px;
    }

    .about-right {
        margin-top: 0px;
        max-width: 250px;
    }

    .about-left {
        height: 420px;
        max-width: 250px;
        font-size: 14px;
    }
}

.slideshow-text {
    display: flex;
    align-items: baseline;
    justify-content: space-between;
    max-width: 80%;
    margin: 0 auto;
    color: #121212;
}

.slideshow-text a {
    text-decoration: none;
    color: #121212;
}

.slideshow-text h1 {
    font-family: LightRock;
    font-size: 60px;
    font-weight: 100;
    margin-top: 3px;
    margin-bottom: 3px;
}

@media (max-width: 640px) {
    .slideshow-text a {
        font-size: 12px;
    }

    .slideshow-text h1 {
        font-size: 36px;
    }
}

.slideshow-container {
    max-width: 80%;
    position: relative;
    margin: 0 auto;
    overflow: hidden;
}

.mySlides {
    display: none;
}

.prev,
.next {
    cursor: pointer;
    position: absolute;
    top: 50%;
    width: auto;
    margin-top: -22px;
    padding: 16px;
    color: white;
    font-weight: 100;
    font-size: 36px;
    user-select: none;
    transition: all 0.4s ease;
}

.next {
    right: 0;
}

.prev:hover,
.next:hover {
    transform: scale(0.85);
}

.numbertext {
    color: #f2f2f2;
    font-size: 12px;
    padding: 8px 12px;
    position: absolute;
    top: 0;
}

.dot {
    cursor: pointer;
    height: 5px;
    width: 5px;
    margin: 0 4px;
    background-color: #E7DFFF;
    border-radius: 50%;
    display: inline-block;
    transition: background-color 0.6s ease;
    margin-bottom: 70px;
    margin-top: 20px;
}

.active,
.dot:hover {
    background-color: #493780;
}

.fade {
    animation-name: fade;
    animation-duration: 1.5s;
}

@keyframes fade {
    from {
        opacity: .4
    }

    to {
        opacity: 1
    }
}

.slideshow-end {
    text-align: center;
    color: #121212;
    margin-bottom: 40px;
}

/* Footer start */

.footer {
    background-color: #121212;
    width: 100%;
    padding: 60px 20px;
    box-sizing: border-box;
}

.footer-again {
    max-width: 900px;
    margin: 0 auto;
    padding: 60px;
}

.footer-content {
    display: flex;
    justify-content: space-between;
    border-bottom: 1px solid #F9F9F9;
}

.footer-left {
    display: flex;
    align-items: flex-start;
}

.footer-left img {
    max-width: 100%;
}

.footer-right {
    display: grid;
    grid-gap: 40px;
    grid-template-columns: 130px 130px 130px;
    margin-bottom: 60px;
    text-align: left;
}

.footer-right a {
    text-decoration: none;
    color: #F9F9F9;
    transition: all 0.3s ease;
}

.footer-right a:hover {
    color: #FFF4B3;
}

.footer-under {
    margin-top: 60px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 14px;
    line-height: 30%;
    text-align: right;
}

.footer-under a {
    text-decoration: none;
    color: #F9F9F9;
    transition: all 0.3s ease;
}

.footer-under a:hover {
    color: #FFF4B3;
}

@media (max-width: 1024px) {
    .footer-right {
        grid-template-columns: 60px 60px 60px;
    }
}

@media (max-width: 640px) {
    .footer-content {
        flex-direction: column;
        gap: 30px;
    }

    .footer-right {
        display: flex;
        flex-direction: column;
        grid-gap: 20px;
    }

    .footer-left img {
        max-width: 85%;
    }

    .footer-under {
        flex-direction: column;
        font-size: 10px;
        text-align: center;
        gap: 10px;
    }
}

/* Burger menu start */

.burgerreveal {
    position: fixed;
    top: 0;
    right: 0;
    width: 100%;
    height: 100%;
    background: #F9F9F9;
    color: #121212;
    display: flex;
    justify-content: space-around;
    align-items: center;
    opacity: 0;
    z-index: -5;
    transform: translateX(5%);
    transition: z-index 0.2s, opacity 0.3s, transform 0.5s ease;
    overflow: hidden;
}

.burgerreveal.show {
    transform: translateX(0);
    opacity: 1;
    z-index: 10;
}

/* z-index transition might be causing lag
in my live preview, but is seemingly the
easiest way to achieve the transition
i want :') */

.burgerreveal nav {
    display: flex;
    flex-direction: column;
    gap: 12px;
    text-align: left;
}

.burgerreveal a {
    color: #121212;
    text-decoration: none;
    font-size: 24px;
    font-weight: 200;
}

.burgerreveal nav a:hover {
    color: #493780;
    transition: all 0.4s ease;
}